@{
    ViewData["Title"] = "MVC Examples";
}

<div class="container">
    <div class="h-100 p-5 bg-light border-bottom rounded-3">
        <h1 class="display-4 text-center">Welcome to the MVC Testing Area!</h1>
        <hr class="my-4">
        <div class="col-sm-3 mx-auto text-center">
            <a class="btn btn-primary mb-2" asp-action="FlashMessage">Flash Message Example</a>
            <a class="btn btn-primary" asp-action="FormMessage">Form Error Message Example</a>
        </div>
    </div>
</div>
